$primaryColor: #5F2C82 !default;
$primaryTextColor: #ffffff !default;
$sidebarTopStartBgColor:#5f2c82 !default;
$sidebarTopEndBgColor:#49a09d !default;
$sidebarAnchorColor:#ffffff !default;
$menuitemActiveColor:#07a824 !default;
$rootMenuitemActiveIconColor:#ffffff !default;
$menuitemBadgeBgColor:#B6C140 !default;
$menuitemBadgeTextColor:#333333 !default;
$horizontalLayoutTopbarTextColor:#F2E5FB !default;
$horizontalLayoutTopbarTextHoverColor:#ffffff !default;

@import '../../../sass/layout/_layout';
